body {
    font: 30px/1.5 "Helvetica", sans-serif;
    color: white;
    padding: 0;
    margin: 0;
    background: black; 
}

header {
    position: fixed;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #dcdcdc;
    max-height: 14vh;
    height: 40px;
    box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.79), 
              0px 2px 4px rgba(255, 255, 255, 0.806), 
              0px 4px 8px rgba(255, 255, 255, 0.731), 
              0px 8px 16px rgba(255, 255, 255, 0.678);
}

header a {
    color: black;
    text-decoration: none;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    float: right;
    display: inline;
    padding: 0 20px 0 20px;
    font-size: 35px;
    width: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto; 
    overflow: hidden;
}

.menu {
	position: relative;
    float: left;
	font-size: 0;
}

.menu a {
    display: flex;
    align-items: center;
	line-height: 40px;
	height: 100%;
	font-size: 14px;
    white-space: nowrap;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
    font-family: "Helvetica", sans-serif;
    letter-spacing: 1px;
	text-align: center;
	color: rgb(0, 0, 0);
	cursor: pointer;
}
.menu .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

a:nth-child(1) {
	width: 100px;
}

a:nth-child(2) {
	width: 125px;
}

a:nth-child(3) {
	width: 130px;
}

a:nth-child(4) {
	width: 110px;
}

.menu .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
    background-color: #9b59b6;

}
.menu .start-about, a:nth-child(2):hover~.animation {
	width: 125px;
	left: 100px;
    background-color: #3498db;
}

.menu .start-fun, a:nth-child(3):hover~.animation {
	width: 130px;
	left: 225px;
    background-color: #1abc9c;
}

.menu .start-video, a:nth-child(4):hover~.animation {
	width: 110px;
	left: 355px;
    background-color: #e7a83c;
}

.socials a {
    display: flex;
    float: right;
    font-size: 1.3em;
    width: 39px;
    margin-left: 25px;
}

@media screen and (max-width: 1000px) {
    .menu a {
      font-size: 1.5vw;
      max-height: 18vh;
    }

    a:nth-child(1) {
        width: 10vw;
    }

    a:nth-child(2) {
        width: 12vw;
    }

    a:nth-child(3) {
        width: 15vw;
    }

    a:nth-child(4) {
        width: 10vw;
    }

    .menu .start-home, a:nth-child(1):hover~.animation {
        width: 8vw;
        left: 1vw;

    }
    .menu .start-about, a:nth-child(2):hover~.animation {
        width: 13vw;
        left: 9.5vw;
    }

    .menu .start-fun, a:nth-child(3):hover~.animation {
        width: 14vw;
        left: 22.5vw;
    }

    .menu .start-video, a:nth-child(4):hover~.animation {
        width: 10vw;
        left: 37vw;
    }

    .socials a {
        font-size: 5vw;
        width: 4vw;
        right: 2vw;
    }
}

@media screen and (max-width: 650px) {
    .socials a {
        margin-top: 0.5vw;
    }
}


@media screen and (max-width: 600px) {
    .socials a {
        margin-top: 1vw;
    }
}


@media screen and (max-width: 450px) {
    .socials a {
        margin-top: 2.25vw;
    }
}

#welcome {
    min-height: 500px;
    text-align: center;
    color: white;
}

#welcome .face img {
    position: relative;
    z-index: -1;
    border-radius: 50%;
    margin-top: 150px;
    max-width: 70%;
    width: 6.5em;
    height: auto;
}

#welcome .container h1 {
    position: relative;
    z-index: -1;
    margin-top: 30px;
	font-family: "Lucida Handwriting", cursive; 
    font-size: min(max(6vw, 40px), 120px);
    font-weight: 100;
    letter-spacing: 1px;
    overflow-wrap: break-word;
    transition: all 1s;
}

#welcome .container:hover h1 {
    letter-spacing: 3px;
    scale: 1.1;
    text-shadow: 0 0 7px #fff,
                 0 0 42px #cf56ff,
                 0 0 82px #cf56ff,
                 0 0 92px #cf56ff;
}

#welcome .cat img {
    max-width: 800px;
    width: 90%; 
    height: auto;
    margin-top: -25px;
}

#choose_content {
    margin: 0 auto;
    width: 70%;
}

#choose_content .box {
    float: center;
    text-align: center;
    font-family: "Lucida Handwriting", cursive;
}

@media screen and (max-width: 600px) {
    #choose_content .box {
      width: 100%;
    }
}

#choose_content .box img {
    width: 4.5em;
    max-width: 45%;
    height: auto;
}

#choose_content .box h2 {
    font-size: min(max(3.5vw, 20px), 60px);
    text-align: center;
    letter-spacing: 1px;
    transition: all 1s;
}

#choose_content .box:hover h2 {
    letter-spacing: 3px;
    scale: 1.1;
    text-shadow: 0 0 7px #fff;
}

#choose_content #About_Me:hover h2 {
    text-shadow: 0 0 42px #0099ff,
                 0 0 82px #0099ff,
                 0 0 92px #0099ff;
}

#choose_content #Fun_Facts:hover h2 {
    text-shadow: 0 0 42px #00ffcc,
                 0 0 82px #00ffcc,
                 0 0 92px #00ffcc;
}

#choose_content #Videos:hover h2 {
    text-shadow: 0 0 42px #ffad1f,
                 0 0 82px #ffad1f,
                 0 0 92px #ffad1f;
}

#choose_content .box h3 {
    font-size: min(max(2.5vw, 14px), 30px);
    font-style: italic;
    text-align: left;
}

#choose_content .box li::marker {
    content: "❀   ";
}

#choose_content .box li {
    font-size: min(max(2vw, 9px), 18px);
    font-family: "Helvetica", sans-serif;
    text-align: left;
    margin-top: -20px;
    margin-bottom: 35px;
}

#choose_content .box video {
    width: 50vw;
    height: auto;
}

footer {
    background: #d4d4d4;
    padding-top: 25px;
    max-height: 50px;
}